node_modules
dist
build
.strapi
.strapi-updater.json
.strapi-cloud.json
.tmp
.cache
.git
.gitignore
.env
.env.example
.firebase-service-account.json
npm-debug.log*
coverage
README.md
CHANGELOG.md
.vscode
.idea
.DS_Store
